<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login_page.css}" />-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <title>E Hostel</title>
    </head>
    <body>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">E Hostel</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Home</a>
                <a class="p-2 text-dark" href="#">Notice</a>
                <a class="p-2 text-dark" href="#">Notifications</a>
            </nav>
            <a class="btn btn-outline-primary" href="/logout">Logout</a>
        </div>

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Hostels</h1>
            <p class="lead">Select the given hostels for more information.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col card-deck mb-3 text-center">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">SVBH</h4>
                        </div>
                        <div class="card-body">
                                <button class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '/home/1/hostel'">GO</button>
                        </div>
                    </div>
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">PG</h4>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '/home/2/hostel'">GO</button>
                        </div>
                    </div>
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Tilak</h4>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '/home/3/hostel'">GO</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col card-deck mb-3 text-center">
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Raman</h4>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '/home/4/hostel'">GO</button>
                        </div>
                    </div>
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Tandon</h4>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '/home/5/hostel'">GO</button>
                        </div>
                    </div>
                    <div class="card box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Malviya</h4>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href = '/home/6/hostel'">GO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>