<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login_page.css}" />-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script th:src="@{/js/hostel.js}" type="text/javascript" language="javascript"></script>

        <title th:text="${title}"></title>
    </head>
    <body>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">E Hostel</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Home</a>
                <a class="p-2 text-dark" href="#">Notice</a>
                <a class="p-2 text-dark" href="#">Notifications</a>
            </nav>
            <a class="btn btn-outline-primary" href="/logout">Logout</a>
        </div>

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4" th:text="${hostel.hostelName}"></h1>
        </div>

        <div class="container">


        </div>
    </body>
</html>